<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.2" />
    <httpRuntime targetFramework="4.6.2" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="AllUris" path="*" verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.ActiveReports.Export.Excel" publicKeyToken="CC4967777C49A3FF" culture="neutral" />
        <bindingRedirect oldVersion="13.0.0.0-13.1.16872.0" newVersion="13.1.16872.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.ActiveReports.Document" publicKeyToken="CC4967777C49A3FF" culture="neutral" />
        <bindingRedirect oldVersion="13.0.0.0-13.1.16872.0" newVersion="13.1.16872.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.ActiveReports.Export.Image" publicKeyToken="CC4967777C49A3FF" culture="neutral" />
        <bindingRedirect oldVersion="13.0.0.0-13.1.16872.0" newVersion="13.1.16872.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.ActiveReports.Export.Html" publicKeyToken="CC4967777C49A3FF" culture="neutral" />
        <bindingRedirect oldVersion="13.0.0.0-13.1.16872.0" newVersion="13.1.16872.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.ActiveReports.Export.Svg" publicKeyToken="CC4967777C49A3FF" culture="neutral" />
        <bindingRedirect oldVersion="13.0.0.0-13.1.16872.0" newVersion="13.1.16872.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.ActiveReports.Export.Pdf" publicKeyToken="CC4967777C49A3FF" culture="neutral" />
        <bindingRedirect oldVersion="13.0.0.0-13.1.16872.0" newVersion="13.1.16872.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.ActiveReports.Export.Word" publicKeyToken="CC4967777C49A3FF" culture="neutral" />
        <bindingRedirect oldVersion="13.0.0.0-13.1.16872.0" newVersion="13.1.16872.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.ActiveReports.Export.Xml" publicKeyToken="CC4967777C49A3FF" culture="neutral" />
        <bindingRedirect oldVersion="13.0.0.0-13.1.16872.0" newVersion="13.1.16872.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.ActiveReports" publicKeyToken="CC4967777C49A3FF" culture="neutral" />
        <bindingRedirect oldVersion="13.0.0.0-13.1.16872.0" newVersion="13.1.16872.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.ActiveReports.Core.Rdl" publicKeyToken="CC4967777C49A3FF" culture="neutral" />
        <bindingRedirect oldVersion="1.0.0.0-1.0.2014.0" newVersion="1.0.2014.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.ActiveReports.Core.Export.Excel.Page" publicKeyToken="CC4967777C49A3FF" culture="neutral" />
        <bindingRedirect oldVersion="1.0.0.0-1.0.2014.0" newVersion="1.0.2014.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.ActiveReports.Core.Export.Html.Page" publicKeyToken="CC4967777C49A3FF" culture="neutral" />
        <bindingRedirect oldVersion="1.0.0.0-1.0.2014.0" newVersion="1.0.2014.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.ActiveReports.Core.Rendering" publicKeyToken="CC4967777C49A3FF" culture="neutral" />
        <bindingRedirect oldVersion="1.0.0.0-1.0.2014.0" newVersion="1.0.2014.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.ActiveReports.Core.Drawing.Gdi" publicKeyToken="CC4967777C49A3FF" culture="neutral" />
        <bindingRedirect oldVersion="1.0.0.0-1.0.2014.0" newVersion="1.0.2014.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.ActiveReports.Core.DataProviders" publicKeyToken="CC4967777C49A3FF" culture="neutral" />
        <bindingRedirect oldVersion="1.0.0.0-1.0.2014.0" newVersion="1.0.2014.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.ActiveReports.Core.Export.Text.Page" publicKeyToken="CC4967777C49A3FF" culture="neutral" />
        <bindingRedirect oldVersion="1.0.0.0-1.0.2014.0" newVersion="1.0.2014.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.ActiveReports.Core.Rendering" publicKeyToken="cc4967777c49a3ff" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.2014.0" newVersion="1.0.2014.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.ActiveReports.Core.DataProviders" publicKeyToken="cc4967777c49a3ff" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.2014.0" newVersion="1.0.2014.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.ActiveReports.Core.Export.Html.Page" publicKeyToken="cc4967777c49a3ff" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.2014.0" newVersion="1.0.2014.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.ActiveReports.Core.Export.Excel.Page" publicKeyToken="cc4967777c49a3ff" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.2014.0" newVersion="1.0.2014.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.ActiveReports.Core.Rdl" publicKeyToken="cc4967777c49a3ff" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.2014.0" newVersion="1.0.2014.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.ActiveReports" publicKeyToken="cc4967777c49a3ff" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.1.16872.0" newVersion="13.1.16872.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.ActiveReports.Document" publicKeyToken="cc4967777c49a3ff" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.1.16872.0" newVersion="13.1.16872.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.ActiveReports.Export.Svg" publicKeyToken="cc4967777c49a3ff" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.1.16872.0" newVersion="13.1.16872.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.ActiveReports.Core.Export.Text.Page" publicKeyToken="cc4967777c49a3ff" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.2014.0" newVersion="1.0.2014.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.ActiveReports.Core.Drawing.Gdi" publicKeyToken="cc4967777c49a3ff" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.2014.0" newVersion="1.0.2014.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.ActiveReports.Export.Word" publicKeyToken="cc4967777c49a3ff" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.1.16872.0" newVersion="13.1.16872.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.ActiveReports.Export.Pdf" publicKeyToken="cc4967777c49a3ff" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.1.16872.0" newVersion="13.1.16872.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.ActiveReports.Export.Xml" publicKeyToken="cc4967777c49a3ff" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.1.16872.0" newVersion="13.1.16872.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.ActiveReports.Export.Image" publicKeyToken="cc4967777c49a3ff" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.1.16872.0" newVersion="13.1.16872.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.ActiveReports.Export.Html" publicKeyToken="cc4967777c49a3ff" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.1.16872.0" newVersion="13.1.16872.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.ActiveReports.Export.Excel" publicKeyToken="cc4967777c49a3ff" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.1.16872.0" newVersion="13.1.16872.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="TestEntities" connectionString="metadata=res://*/Model.ActiveReport.csdl|res://*/Model.ActiveReport.ssdl|res://*/Model.ActiveReport.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-SMVK3SP\SQLEXPRESS;initial catalog=Test;persist security info=True;user id=sa;password=Mechlin_123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TestEntities1" connectionString="metadata=res://*/Model.ReportData.csdl|res://*/Model.ReportData.ssdl|res://*/Model.ReportData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-SMVK3SP\SQLEXPRESS;initial catalog=Test;persist security info=True;user id=sa;password=Mechlin_123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>